body {
  @apply bg-gradient-to-b from-orange-50 to-white text-gray-800 min-h-screen;
  font-family: 'Inter', sans-serif;
}

button {
  @apply bg-primary hover:bg-secondary text-white font-semibold py-2 px-4 rounded-md transition-all duration-300;
}
.bg-chat-pattern {
 
  background-repeat: repeat;
  background-size: 300px;
}
